* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.container {
    height: 50%;
    width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 30px;
    padding: 40px 35px;
    margin: 100px auto 0;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    border: 0;
    outline: 0;
    background: snow;
    border-radius: 30px;
    height: 60px;
  
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    padding: 10px 25px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    height: 45px;
    cursor: pointer;
    width: 45px;
    border-radius: 50px;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 150px;
    margin-top: 10px;
}

.weather h1 {
    font-size: 45px;
    font-weight: 500;
}

.weather h2 {
    font-size: 35px;
    font-weight: 400;
    margin-top: -10px;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px; 
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    flex: 1; 
}

.col img {
    width: 40px;
    margin-left: 10px; 
    margin-right: 0; 
}

.col.reverse {
    flex-direction: row-reverse; 
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -16px;
}
